<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
    <h2>Page ran into an error</h2> <br><br>
    <h2>ERROR_MESSAGE :-- <%= locals.error || 'unkown error' %></h21> <br><br>
    <div class="navbar" style="display: inline;">
        <a href="/dashboard">
            <li>Go to Homepage</li>
        </a>
    </div>
</body>
</html>