<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixtures and Results</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/fixtures-results.css">
</head>
<body class="background">
    <h1>Fixtures and Results</h1>
    <div class="navbar">
        <ul>
            <a href="/dashboard"><li>Home</li></a>
            <a href="/make-prediction"><li>Make Your Prediction</li></a>
            <a href="/fixtures-results"><li>Fixtures/Results</li></a>
            <a href="/leaderboard"><li>Leaderboard</li></a>
            <a href="/"><li>Logout</li></a>
        </ul>
    </div>

    <div class="wrapper">
        <div class="matches">
            <div class="match">
                Match 1 <br>
                team vs team <br>
                2 - 0 <br>
                ----goalscorers---- <br>
            </div>
            
        </div>
    </div>
</body>
</html>