<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Your Prediction</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/make-prediction.css">
</head>
<body class="background">
    <h1>make prediction</h1>
    <div class="navbar">
        <ul>
            <a href="/dashboard"><li>Home</li></a>
            <a href="/make-prediction"><li>Make Your Prediction</li></a>
            <a href="/fixtures-results"><li>Fixtures/Results</li></a>
            <a href="/leaderboard"><li>Leaderboard</li></a>
            <a href="/"><li>Logout</li></a>
        </ul>
    </div>
    <div class="wrapper">
        <div class="outer-select-match">
            Select Match<br>
            <div class="select-match">
                <div class="match">Match 1</div>
                <div class="match">Match 2</div>
                <div class="match">Match 3</div>
            </div>
        </div>
        <div class="prediction">
            Match 1
            <div class="winner-prediction">
                O - A winner B - O<br>
            </div>
            <div class="score-prediction">
                A - O score O - B<br>
            </div>
            <div class="goalscorer-prediction">
                select goalscorer <br>
            </div>
        </div>
    </div>
</body>
</html>